<a href="https://colab.research.google.com/github/jiin124/Dacon/blob/main/%EC%87%BC%ED%95%91%EB%AA%B0_%EC%A7%80%EC%A0%90%EB%B3%84_%EB%A7%A4%EC%B6%9C%EC%95%A1_%EC%98%88%EC%B8%A1/%EC%87%BC%ED%95%91%EB%AA%B0_%EC%A7%80%EC%A0%90%EB%B3%84_%EB%A7%A4%EC%B6%9C%EC%95%A1_%EC%98%88%EC%B8%A1_Pycaret(228379_1184746887).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3차

In [ ]:
pip install pycaret

In [ ]:
pip install markupsafe==2.0.1

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
plt.style.use('ggplot')
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime

In [34]:
train=pd.read_csv('/content/train.csv')
test=pd.read_csv('/content/test.csv')
sample=pd.read_csv('/content/sample_submission.csv')

# 전처리

## 데이터 합쳐주기

In [36]:
all_data.head()

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,8.106,False,1643690.90
1,2,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,8.106,True,1641957.44
2,3,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,8.106,False,1611968.17
3,4,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,8.106,False,1409727.59
4,5,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,8.106,False,1554806.68

In [35]:
all_data = pd.concat([train, test], ignore_index = True)

In [37]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6435 non-null   int64
 1   Store         6435 non-null   int64
 2   Date          6435 non-null   object
 3   Temperature   6435 non-null   float64
 4   Fuel_Price    6435 non-null   float64
 5   Promotion1    2280 non-null   float64
 6   Promotion2    1637 non-null   float64
 7   Promotion3    2046 non-null   float64
 8   Promotion4    1965 non-null   float64
 9   Promotion5    2295 non-null   float64
 10  Unemployment  6435 non-null   float64
 11  IsHoliday     6435 non-null   bool
 12  Weekly_Sales  6255 non-null   float64
dtypes: bool(1), float64(9), int64(2), object(1)
memory usage: 609.7+ KB

## NULL값 처리

In [38]:
all_data.isnull().sum()

id                 0
Store              0
Date               0
Temperature        0
Fuel_Price         0
Promotion1      4155
Promotion2      4798
Promotion3      4389
Promotion4      4470
Promotion5      4140
Unemployment       0
IsHoliday          0
Weekly_Sales     180
dtype: int64

In [39]:
all_data['Promotion1']=all_data['Promotion1'].fillna(0)
all_data.isnull().sum()

id                 0
Store              0
Date               0
Temperature        0
Fuel_Price         0
Promotion1         0
Promotion2      4798
Promotion3      4389
Promotion4      4470
Promotion5      4140
Unemployment       0
IsHoliday          0
Weekly_Sales     180
dtype: int64

In [40]:
all_data['Promotion2']=all_data['Promotion2'].fillna(0)
all_data['Promotion3']=all_data['Promotion3'].fillna(0)
all_data['Promotion4']=all_data['Promotion4'].fillna(0)
all_data['Promotion5']=all_data['Promotion5'].fillna(0)

In [41]:
all_data.isnull().sum()

id                0
Store             0
Date              0
Temperature       0
Fuel_Price        0
Promotion1        0
Promotion2        0
Promotion3        0
Promotion4        0
Promotion5        0
Unemployment      0
IsHoliday         0
Weekly_Sales    180
dtype: int64

## isholiday 숫자 처리

In [42]:
all_data['IsHoliday'].value_counts()

False    5985
True      450
Name: IsHoliday, dtype: int64

In [43]:
mapping={True:1,False:0}

all_data['IsHoliday']=all_data['IsHoliday'].astype('object')


all_data['IsHoliday']=all_data['IsHoliday'].map(mapping)

In [44]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6435 non-null   int64
 1   Store         6435 non-null   int64
 2   Date          6435 non-null   object
 3   Temperature   6435 non-null   float64
 4   Fuel_Price    6435 non-null   float64
 5   Promotion1    6435 non-null   float64
 6   Promotion2    6435 non-null   float64
 7   Promotion3    6435 non-null   float64
 8   Promotion4    6435 non-null   float64
 9   Promotion5    6435 non-null   float64
 10  Unemployment  6435 non-null   float64
 11  IsHoliday     6435 non-null   int64
 12  Weekly_Sales  6255 non-null   float64
dtypes: float64(9), int64(3), object(1)
memory usage: 653.7+ KB

## date 분리

In [45]:
all_data['date']=pd.to_datetime(all_data['Date'])

In [46]:
all_data.head()

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales,date
0,1,1,05/02/2010,42.31,2.572,0.0,0.0,0.0,0.0,0.0,8.106,0,1643690.90,2010-05-02
1,2,1,12/02/2010,38.51,2.548,0.0,0.0,0.0,0.0,0.0,8.106,1,1641957.44,2010-12-02
2,3,1,19/02/2010,39.93,2.514,0.0,0.0,0.0,0.0,0.0,8.106,0,1611968.17,2010-02-19
3,4,1,26/02/2010,46.63,2.561,0.0,0.0,0.0,0.0,0.0,8.106,0,1409727.59,2010-02-26
4,5,1,05/03/2010,46.50,2.625,0.0,0.0,0.0,0.0,0.0,8.106,0,1554806.68,2010-05-03

In [47]:
all_data.drop('Date',axis=1,inplace=True)

In [48]:
all_data['year']=all_data['date'].dt.year
all_data['month']=all_data['date'].dt.month
all_data['day']=all_data['date'].dt.day
all_data['weekday']=all_data['date'].dt.weekday

In [49]:
all_data.head()

,id,Store,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales,date,year,month,day,weekday
0,1,1,42.31,2.572,0.0,0.0,0.0,0.0,0.0,8.106,0,1643690.90,2010-05-02,2010,5,2,6
1,2,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,8.106,1,1641957.44,2010-12-02,2010,12,2,3
2,3,1,39.93,2.514,0.0,0.0,0.0,0.0,0.0,8.106,0,1611968.17,2010-02-19,2010,2,19,4
3,4,1,46.63,2.561,0.0,0.0,0.0,0.0,0.0,8.106,0,1409727.59,2010-02-26,2010,2,26,4
4,5,1,46.50,2.625,0.0,0.0,0.0,0.0,0.0,8.106,0,1554806.68,2010-05-03,2010,5,3,0

In [50]:
all_data.drop('date',axis=1,inplace=True)

In [51]:
#id도 삭제
all_data.drop('id',axis=1,inplace=True)

In [52]:
all_data.head()

,Store,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales,year,month,day,weekday
0,1,42.31,2.572,0.0,0.0,0.0,0.0,0.0,8.106,0,1643690.90,2010,5,2,6
1,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,8.106,1,1641957.44,2010,12,2,3
2,1,39.93,2.514,0.0,0.0,0.0,0.0,0.0,8.106,0,1611968.17,2010,2,19,4
3,1,46.63,2.561,0.0,0.0,0.0,0.0,0.0,8.106,0,1409727.59,2010,2,26,4
4,1,46.50,2.625,0.0,0.0,0.0,0.0,0.0,8.106,0,1554806.68,2010,5,3,0

# 데이터 나누기

In [53]:
def seprate_data(concat_Alldata):
    train = concat_Alldata[pd.notnull(concat_Alldata['Weekly_Sales'])]
    test = concat_Alldata[~pd.notnull(concat_Alldata['Weekly_Sales'])]
    return train, test

train, test = seprate_data(all_data)

In [54]:
train.head()

,Store,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales,year,month,day,weekday
0,1,42.31,2.572,0.0,0.0,0.0,0.0,0.0,8.106,0,1643690.90,2010,5,2,6
1,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,8.106,1,1641957.44,2010,12,2,3
2,1,39.93,2.514,0.0,0.0,0.0,0.0,0.0,8.106,0,1611968.17,2010,2,19,4
3,1,46.63,2.561,0.0,0.0,0.0,0.0,0.0,8.106,0,1409727.59,2010,2,26,4
4,1,46.50,2.625,0.0,0.0,0.0,0.0,0.0,8.106,0,1554806.68,2010,5,3,0

In [55]:
test.head()

,Store,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales,year,month,day,weekday
6255,1,68.55,3.617,8077.89,0.00,18.22,3617.43,3626.14,6.573,0,NaN,2012,5,10,3
6256,1,62.99,3.601,2086.18,0.00,8.11,602.36,5926.45,6.573,0,NaN,2012,12,10,0
6257,1,67.97,3.594,950.33,0.00,4.93,80.25,2312.85,6.573,0,NaN,2012,10,19,4
6258,1,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,6.573,0,NaN,2012,10,26,4
6259,2,70.27,3.617,6037.76,0.00,10.04,3027.37,3853.40,6.170,0,NaN,2012,5,10,3

In [56]:
train['Weekly_Sales']=np.log1p(train['Weekly_Sales'])

In [57]:
print(train.shape)
print(test.shape)

(6255, 15)
(180, 15)

In [24]:
from pycaret.regression import *

In [58]:
model = setup(train, target = 'Weekly_Sales', 
              fold_shuffle=True,
              fold=15, 
              session_id=530,
              remove_multicollinearity = True,
              normalize= True,
              n_jobs = -1,
              silent = True,
              combine_rare_levels = True,
              ignore_low_variance = True )

                               Description             Value
0                               session_id               530
1                                   Target      Weekly_Sales
2                            Original Data        (6255, 15)
3                           Missing Values             False
4                         Numeric Features                10
5                     Categorical Features                 4
6                         Ordinal Features             False
7                High Cardinality Features             False
8                  High Cardinality Method              None
9                    Transformed Train Set        (4378, 32)
10                    Transformed Test Set        (1877, 32)
11                      Shuffle Train-Test              True
12                     Stratify Train-Test             False
13                          Fold Generator             KFold
14                             Fold Number                15
15                                CPU Jobs                -1
16                                 Use GPU             False
17                          Log Experiment             False
18                         Experiment Name  reg-default-name
19                                     USI              e448
20                         Imputation Type            simple
21          Iterative Imputation Iteration              None
22                         Numeric Imputer              mean
23      Iterative Imputation Numeric Model              None
24                     Categorical Imputer          constant
25  Iterative Imputation Categorical Model              None
26           Unknown Categoricals Handling    least_frequent
27                               Normalize              True
28                        Normalize Method            zscore
29                          Transformation             False
30                   Transformation Method              None
31                                     PCA             False
32                              PCA Method              None
33                          PCA Components              None
34                     Ignore Low Variance              True
35                     Combine Rare Levels              True
36                    Rare Level Threshold               0.1
37                         Numeric Binning             False
38                         Remove Outliers             False
39                      Outliers Threshold              None
40                Remove Multicollinearity              True
41             Multicollinearity Threshold               0.9
42             Remove Perfect Collinearity              True
43                              Clustering             False
44                    Clustering Iteration              None
45                     Polynomial Features             False
46                       Polynomial Degree              None
47                    Trignometry Features             False
48                    Polynomial Threshold              None
49                          Group Features             False
50                       Feature Selection             False
51                Feature Selection Method           classic
52            Features Selection Threshold              None
53                     Feature Interaction             False
54                           Feature Ratio             False
55                   Interaction Threshold              None
56                        Transform Target             False
57                 Transform Target Method           box-cox

INFO:logs:create_model_container: 0
INFO:logs:master_model_container: 0
INFO:logs:display_container: 1
INFO:logs:Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=False, features_todrop=[],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=[],
                                      target='Weekly_Sales',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categorical_strategy='not_available',
                                fill_value_categorical=None,
                                fill_value_numerical=None,
                                numeric_st...
                ('dummy', Dummify(target='Weekly_Sales')),
                ('fix_perfect', Remove_100(target='Weekly_Sales')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'),
                ('fix_multi',
                 Fix_multicollinearity(correlation_with_target_preference=None,
                                       correlation_with_target_threshold=0.0,
                                       target_variable='Weekly_Sales',
                                       threshold=0.9)),
                ('dfs', 'passthrough'), ('pca', 'passthrough')],
         verbose=False)
INFO:logs:setup() succesfully completed......................................

In [59]:
top5_model = compare_models(round=4, n_select = 5, sort='RMSE')

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
lightgbm,Light Gradient Boosting Machine,0.0606,7.500000e-03,0.0863,9.782000e-01,0.0059,0.0044,0.1840
rf,Random Forest Regressor,0.0671,1.230000e-02,0.1105,9.641000e-01,0.0074,0.0049,2.5733
et,Extra Trees Regressor,0.0738,1.310000e-02,0.1140,9.619000e-01,0.0077,0.0054,1.8573
dt,Decision Tree Regressor,0.0895,2.700000e-02,0.1622,9.207000e-01,0.0109,0.0065,0.0480
gbr,Gradient Boosting Regressor,0.1648,4.200000e-02,0.2047,8.778000e-01,0.0140,0.0121,0.6687
ada,AdaBoost Regressor,0.3978,2.108000e-01,0.4590,3.867000e-01,0.0314,0.0292,0.3567
knn,K Neighbors Regressor,0.4327,2.797000e-01,0.5287,1.856000e-01,0.0362,0.0319,0.0780
br,Bayesian Ridge,0.4446,2.825000e-01,0.5313,1.785000e-01,0.0364,0.0327,0.0187
ridge,Ridge Regression,0.4440,2.825000e-01,0.5314,1.782000e-01,0.0364,0.0327,0.0133
lr,Linear Regression,0.4440,2.826000e-01,0.5314,1.781000e-01,0.0364,0.0327,0.1827
huber,Huber Regressor,0.4403,2.874000e-01,0.5359,1.641000e-01,0.0368,0.0325,0.0820
omp,Orthogonal Matching Pursuit,0.4629,3.021000e-01,0.5493,1.223000e-01,0.0376,0.0341,0.0140
lasso,Lasso Regression,0.4970,3.450000e-01,0.5872,-2.700000e-03,0.0402,0.0366,0.0140
en,Elastic Net,0.4970,3.450000e-01,0.5872,-2.700000e-03,0.0402,0.0366,0.0147
llar,Lasso Least Angle Regression,0.4970,3.450000e-01,0.5872,-2.700000e-03,0.0402,0.0366,0.0140
dummy,Dummy Regressor,0.4970,3.450000e-01,0.5872,-2.700000e-03,0.0402,0.0366,0.0100
par,Passive Aggressive Regressor,0.6268,6.555000e-01,0.8039,-9.095000e-01,0.0541,0.0460,0.0207
lar,Least Angle Regression,5444.2779,6.853108e+08,6759.7608,-2.046794e+09,0.5869,399.4326,0.0187

INFO:logs:create_model_container: 18
INFO:logs:master_model_container: 18
INFO:logs:display_container: 2
INFO:logs:[LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=530, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0), RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=530, verbose=0, warm_start=False), ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=530, verbose=0, warm_start=False), DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=530, splitter='best'), GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=530, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)]
INFO:logs:compare_models() succesfully completed......................................

In [60]:
stacker = stack_models(top5_model[:4], optimize = 'RMSE')

         MAE     MSE    RMSE      R2   RMSLE    MAPE
Fold
0     0.0554  0.0059  0.0767  0.9832  0.0052  0.0041
1     0.0639  0.0092  0.0961  0.9722  0.0065  0.0046
2     0.0547  0.0053  0.0726  0.9848  0.0050  0.0040
3     0.0572  0.0062  0.0787  0.9829  0.0054  0.0042
4     0.0569  0.0083  0.0910  0.9737  0.0062  0.0041
5     0.0559  0.0059  0.0766  0.9832  0.0052  0.0041
6     0.0592  0.0069  0.0830  0.9805  0.0056  0.0043
7     0.0515  0.0047  0.0686  0.9856  0.0047  0.0038
8     0.0615  0.0068  0.0826  0.9808  0.0056  0.0045
9     0.0533  0.0058  0.0762  0.9827  0.0052  0.0039
10    0.0583  0.0070  0.0838  0.9808  0.0057  0.0043
11    0.0573  0.0064  0.0800  0.9821  0.0054  0.0042
12    0.0569  0.0065  0.0805  0.9798  0.0055  0.0042
13    0.0580  0.0078  0.0885  0.9761  0.0061  0.0042
14    0.0552  0.0060  0.0777  0.9834  0.0053  0.0040
Mean  0.0570  0.0066  0.0808  0.9808  0.0055  0.0042
Std   0.0030  0.0011  0.0068  0.0038  0.0005  0.0002

INFO:logs:create_model_container: 19
INFO:logs:master_model_container: 19
INFO:logs:display_container: 3
INFO:logs:StackingRegressor(cv=5,
                  estimators=[('lightgbm',
                               LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.1, max_depth=-1,
                                             min_child_samples=20,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=100, n_jobs=-1,
                                             num_leaves=31, objective=None,
                                             random_state=530, reg_alpha=0.0,
                                             reg_lambda=0.0, silent='w...
                                                     max_depth=None,
                                                     max_features=None,
                                                     max_leaf_nodes=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     presort='deprecated',
                                                     random_state=530,
                                                     splitter='best'))],
                  final_estimator=LinearRegression(copy_X=True,
                                                   fit_intercept=True,
                                                   n_jobs=-1, normalize=False),
                  n_jobs=-1, passthrough=True, verbose=0)
INFO:logs:stack_models() succesfully completed......................................

In [61]:
prediction = predict_model(stacker, data=test)
pred = np.expm1(prediction['Label'])

temp = pd.read_csv('sample_submission.csv')
temp['Weekly_Sales'] = pred.reset_index()['Label']

submission = pd.DataFrame({
        "id" : temp['id'],
        "Weekly_Sales" : temp['Weekly_Sales']
})
submission.to_csv('submit1.csv', index = False)

INFO:logs:Initializing predict_model()
INFO:logs:predict_model(estimator=StackingRegressor(cv=5,
                  estimators=[('lightgbm',
                               LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.1, max_depth=-1,
                                             min_child_samples=20,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=100, n_jobs=-1,
                                             num_leaves=31, objective=None,
                                             random_state=530, reg_alpha=0.0,
                                             reg_lambda=0.0, silent='w...
                                                     max_depth=None,
                                                     max_features=None,
                                                     max_leaf_nodes=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     presort='deprecated',
                                                     random_state=530,
                                                     splitter='best'))],
                  final_estimator=LinearRegression(copy_X=True,
                                                   fit_intercept=True,
                                                   n_jobs=-1, normalize=False),
                  n_jobs=-1, passthrough=True, verbose=0), probability_threshold=None, encoded_labels=True, drift_report=False, raw_score=False, round=4, verbose=True, ml_usecase=MLUsecase.REGRESSION, display=None, drift_kwargs=None)
INFO:logs:Checking exceptions
INFO:logs:Preloading libraries
INFO:logs:Preparing display monitor

                Model  MAE  MSE  RMSE  R2  RMSLE  MAPE
0  Stacking Regressor    0    0     0   0      0     0